name: Playwright Bot

on: [push]

jobs:
  run-bot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [firefox]
        # Adjust the `runs` count to the number of parallel bots you need
        runs: [1, 2, 3, 4, 5, 6, 7, 8 ,9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Run Playwright script
        run: node run.js
